{% extends 'recipe/base.html' %}
{% load static %}

{% block title %}Recipes{% endblock %}

{% block content %}
<div class="row">
    <div class="col text-center">
        <img src="{% static 'recipe/recipe.jpeg' %}" alt="recipe">
        <h2>Let's see what's there to eat!</h2>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <form action="{% url 'index' %}">
            <input type="text" name="q">
            <input type="submit" value="Search">
        </form>
    </div>
</div>

{% for recipe in recipes %}
<div>
    <div>
        <h4>{{recipe.id}}. {{ recipe.name }}</h4>
    </div>
    <div>
        <h4>Preparation Time: {{ recipe.preparation_time }}mins</h4>
    </div>
    <div>
        <h4>Cook Time: {{ recipe.cook_time }}mins</h4>
    </div>
    <h4>Directions:</h4>
    <div>
        <h4>{{ recipe.recipe }}</h4>
    </div>

</div>
<br>
{% endfor %}

{% endblock %}